















.picMediumFloatLeft{
    float:left;
    width: 200px;
    padding: 10px;
    /*LÄGG TILL SNYGG RAM*/
}
.picMediumFloatRight    {
    float:right;
    width: 200px;
    padding: 10px;
    /*LÄGG TILL SNYGG RAM*/
}